
.home__bg{
    background-image: url('img/bg.jpg');
    background-color: #010101;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

}

li.nav__items {
    font-size: 18px;
    padding-bottom: 15px;
    transition: 0.4s ease-in-out;
}

.home__content{
    padding: 125px 0px ;
}

h1.home__text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(198, 201, 216, 0.75)!important;
}

h2.home__text {
    font-size: 54px;
    line-height: 54px;
    font-weight: 800;
   font-family: Montserrat, sans-serif;
}

h3.home__text {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
   font-family: Montserrat, sans-serif;
}

h4.home__text {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
   font-family: Montserrat, sans-serif;
}